#salah-time {
  min-height: 100vh;
  .salah-time {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 3.5rem 5rem;
    grid-row-gap: 7rem;
    &__item {
      &--time {
        text-transform: lowercase;
        font-size: 1.9rem;
        font-weight: bold;
        &::after {
          margin-top: 0.5rem;
          text-transform: capitalize;
          display: block;
          font-weight: initial;
          font-size: 1.7rem;
        }
      }

      &--line {
        margin: 2.33rem 0;
        position: relative;
        span {
          $size: 1.3rem;
          @include center-position-absoulute;
          display: block;
          height: $size;
          aspect-ratio: 1;
          border-radius: 50%;
          border: 0.3rem solid $line-color-1;
          background: #000;
        }
      }

      &--remain {
        opacity: 0;
      }

      &.current {
        .salah-time__item--line {
          &::after {
            content: "";
            display: block;
            @include center-position-absoulute;
            height: 1.75rem;
            border-radius: 50%;
            aspect-ratio: 1;
            background: $line-color-current;
          }
          span {
            &::before,
            &::after {
              @include center-position-absoulute;
              height: 225%;
              display: block;
              content: "";
              aspect-ratio: 1;
              border-radius: 50%;
              box-shadow: 0 0 0 0.1rem $line-color-current;
              animation-name: animate-currentFajr;
              animation-duration: 2s;
              animation-iteration-count: infinite;
            }

            &::before {
            }
            &::after {
              animation-delay: 0.5s;
            }
          }
        }
      }

      &.next {
        .salah-time__item--line {
          &::after {
            content: "";
            display: block;
            @include center-position-absoulute;
            height: 1.7rem;
            border-radius: 50%;
            aspect-ratio: 1;
            background: $line-color-next;
            animation-name: animate-next;
            animation-iteration-count: infinite;
            animation-duration: 1s;
          }
        }
      }

      &.currentFajr {
        .salah-time__item--line {
          &::after {
            content: "";
            display: block;
            @include center-position-absoulute;
            height: 1.4rem;
            border-radius: 50%;
            aspect-ratio: 1;
            background: $line-color-currentFajr;

            animation-name: animate-next;
            animation-iteration-count: infinite;
            animation-duration: 0.33s;
          }
        }
      }

      // Utility
      &.next,
      &.currentFajr {
        .salah-time__item--remain {
          opacity: 1;
        }
      }

      &.today {
        .salah-time__item--line {
          span {
            border-color: $line-color-1;
          }
          &::before {
            content: "";
            display: block;
            height: 0.3rem;
            background: $line-color-1;
          }
        }
      }

      &.other {
        span {
          border-color: $line-color-2;
        }
        .salah-time__item--line {
          &::before {
            content: "";
            display: block;
            height: 0.3rem;
            background: $line-color-2;
          }
        }
      }
    }
    &__item {
      &.Fajr {
        .salah-time__item--time::after {
          content: "Fajr";
        }
        .salah-time__item--line {
          padding-left: 50%;
        }
      }
      &.Sunrise {
        .salah-time__item--time::after {
          content: "Sunrise";
        }
        .salah-time__item--line {
          // padding-left: 50%;
        }
      }
      &.Dhuhr {
        .salah-time__item--time::after {
          content: "Dhuhr";
        }
        .salah-time__item--line {
          // padding-left: 50%;
        }
      }
      &.Asr {
        .salah-time__item--time::after {
          content: "Asr";
        }
        .salah-time__item--line {
          // padding-left: 50%;
        }
      }
      &.Maghrib {
        .salah-time__item--time::after {
          content: "Maghrib";
        }
        .salah-time__item--line {
          // padding-left: 50%;
        }
      }
      &.Isha {
        .salah-time__item--time::after {
          content: "Isha";
        }
        .salah-time__item--line {
          padding-right: 50%;
        }
      }
    }
  }
  &.yerterday {
    .salah-time__item {
      &.today {
        .salah-time__item--line {
          span {
            border-color: $line-color-2;
          }
          &::before {
            background: $line-color-2;
          }
        }
      }
      &.other {
        order: -1;
        span {
          border-color: $line-color-1;
        }
        .salah-time__item--line {
          &::before {
            background: $line-color-1;
          }
        }
      }
    }
  }
}
#header {
  background: #00000020;
  margin-bottom: 3rem;
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem 7rem;
    & > * {
      text-align: right;
      &:nth-child(1) {
        flex: 1;
        text-align: left;
      }
    }
  }
}
#settings {
  position: fixed;
  padding: 3rem 10%;
  background: #00000000;
  width: 100vw;
  inset: 0;
  opacity: 0;
  transition: all 0.2s;
  transform: scale(0) translate(100%, -100%);
  &.open {
    opacity: 1;
    background: #000000;
    transform: scale(1) translate(0);
  }
  [-wrap] {
    border-radius: 1rem;
    background: $color-dark;
    overflow: auto;
    height: 100%;
    padding: 2rem 3rem;
  }
  .expand-toggle {
    background-color: $color-dark-2;
    cursor: pointer;
    display: flex;
    padding-left: 1.75rem;
    align-items: center;
    height: 4rem;
    transition: height 0.2s;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    img {
      height: 2rem;
      transform: rotate(-90deg);
      transition: transform 0.2s;
      margin-right: 1rem;
    }

    &.active {
      height: 4.5rem;
      font-weight: bold;
      img {
        height: 2.4rem;
        transform: rotate(0);
        margin-bottom: 0.3rem;
      }
      & + .settings__juristic--list {
        display: flex;
      }
      & + .settings__method--list {
        display: block;
      }
    }
  }
  .expand-toggle__content {
    display: none;
    margin: 2rem 4rem 3rem;
  }
  .settings__juristic--list {
    display: none;
    & > * {
      flex: 1;
    }
  }
  .settings__method--list {
    margin-bottom: 3rem;
    .method__list--item {
      display: flex;
      align-items: baseline;
      margin-bottom: 1.5rem;
      input {
        margin-right: 0.8rem;
      }
      .label {
        flex: 1;
      }
    }
  }
  .settings-location {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    & > * {
      flex: 1;
      text-align: center;
    }
    .settings__location--lat-long {
      input {
        text-align: center;
        background-color: $color-dark-2;
        outline: 0;
        border: 0;
        font-size: 1.8rem;
        padding: 0.4rem;
        border-radius: 1rem;
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .settings__controls {
    border-top: 1px solid #000;
    text-align: center;
    padding-top: 2rem;
    button {
      text-transform: capitalize;
      margin: 0.2rem;
    }
  }
}

.button {
  background-color: $color-blue;
  color: $color-white;
  outline: 0;
  border: 0;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.7rem 1.7rem;
  border-radius: 0.5rem;
  &.orange {
    background-color: $color-orange;
  }
}
#settings-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
  div {
    width: 2rem;
    height: 0.2rem;
    background: #fff;
    &:nth-child(2) {
      margin: 0.5rem 0;
    }
  }
}
